#sonic
{
  width:200px;
  height:200px;
  position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body
{
  background-image:linear-gradient(white);
  background-size: cover;
  background-position: center;
}

.press
{
  visibility: visible;
}

#change
{
  width:200px;
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#80e5ff;
  border: inset blue;
  color: blue;
}

#change:hover
{
  background-color: blue;
  border: outset white;
  color: white;
}

#borderRad
{
  width:150px;
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position:absolute;
  top:100px;
  background-color:#ffc7c7;
  border: inset red;
  color: red;
  visibility: visible;
}

#borderRad:hover
{
  background-color: white;
  border: outset red;
  color: blue;
}

#sonic
{
  border-radius: 0px;;
}