#help
{
  text-align: center;
  visibility: visible;
}
#sonic
{
  width:300px;
  height:300px;
  position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

body
{
  background-image:linear-gradient(white);
  background-size: cover;
  background-position: center;
  height:400px;
}

#color-box
{
  visibility: hidden;
}
.press
{
  visibility: visible;
}

#change
{
  width:200px;
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#80e5ff;
  border: inset blue;
  color: blue;
  visibility: visible;
}

#change:hover
{
  background-color: blue;
  border: outset white;
  color: white;
}

#borderRad
{
  width:150px;
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#ffc7c7;
  border: inset red;
  color: red;
  visibility: visible;
}

#borderRad:hover
{
  background-color: red;
  border: outset white;
  color: white;
}

#sonic
{
  border-radius: 0px;;
}

#hide
{
 width:100px;
  height:50px;
}

#cust 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}