#sonic
{
  width:200px;
  height:200px;
  position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body
{
  background-image:linear-gradient(red,green);
  background-size: cover;
  background-position: center;
}

#change
{
  width:200px;
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#80e5ff;
  border: inset blue;
  color: blue;
}

#change:hover
{
  background-color: blue;
  border: outset white;
  color: white;
}
